<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
    <title>Курс</title>
    <meta name="description" content="Educational manager course description"/>
    <link rel="stylesheet" typDe="text/css" href="/styles/css/course.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="footer-push row">
    <header class="row main-header">
        <%- include('base/menu', {active: 1}); %>
    </header>
    <main class="row container">
        <section class="course">
            <header class="row">
                <h2 class="title"><%= course.name %></h2>
                <a href="/course/<%= course.id %>/like" class="like"><%= course.likes %></a>
            </header>
            <img src="/img/courses/<%= course.imageName %>" alt="<%= course.name %>">
            <p class="description"><%= course.name %> <%= course.description %></p>
            <p><a href="/course-translation/<%= course.id %>" class="btn-primary">Перейти до трансляції</a></p>
        </section>
        <section class="lectures">
            <h2 class="title">Лекції: </h2>
            <% lectures.forEach(function(lecture) { %>
                <article class="lecture">
                    <iframe width="560" height="315" src="<%= lecture.videoUrl %>" frameborder="0" allowfullscreen></iframe>
                    <p class="description">
                        <%= lecture.description %>
                    </p>
                    <% if (lecture.attachedFile) { %>
                        <a class="attachment" href="/files/<%= lecture.attachedFile %>" target="_blank">
                            <%= lecture.attachedFile.replace(/\-\d+\./, '.') %>
                        </a>
                    <% } %>
                </article>
            <% }); %>
        </section>
    </main>
</div>
<%- include('base/footer'); %>
<script src="/scripts/js/course.js"></script>
</body>
</html>