<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
    <link rel="stylesheet" typDe="text/css" href="/styles/css/courses.css">
</head>
<body>
<div class="footer-push row">
    <header class="row main-header">
        <%- include('base/menu', {active: 1}); %>
    </header>
    <main class="row container">
        <section class="courses row">
            <h2 class="title">Курси</h2>
            <!-- SORT OPTIONS -->
            <form id="sort-options" action="" method="GET">
                <label>
                    Сортувати за:
                    <%- select_tag('order', orderSelect.sortFields, orderSelect.props) %>
                </label>
                <%- checkbox_tag('sort-dir', sortOrderBox.props) %>
                <label class="sort-ico" for="sort-dir"></label>
                <span class="separator">|</span>
                <label>
                    З початку:
                    <%- select_tag('sort-date', sortDateSelect.sortFields, sortDateSelect.props) %>
                </label>
            </form>
            <!-- ************ -->
            <!-- COURSES -->
            <div class="courses-container row">
                <% courses.forEach(function(course) { %>
                <article class="course col-4">
                    <img src="img/courses/<%= course.imageName %>" alt="<%= course.name %>">
                    <p class="description">
                        <strong><%= course.name %></strong>
                        <%= course.description %>
                    </p>
                    <a href="/course/<%= course.id %>" class="reference">Дивитись більше...</a>
                    <a href="#" class="like"><%= course.likes %></a>
                </article>
                <% }); %>
            </div>
            <!-- ******* -->
        </section>
        <!-- PAGINATION -->
        <section class="pagination-big desktop">
            Сторінка:
            <%- paginationTemplate.pagination %>
        </section>
        <section class="pagination-small mobile">
            <%- paginationTemplate.paginationSmall %>
        </section>
        <!-- ********** -->
    </main>
</div>
<%- include('base/footer'); %>
</body>
</html>