<!DOCTYPE html>
<html lang="ua">
<head>
	<%- include('base/head'); %>
	<link rel="stylesheet" typDe="text/css" href="styles/css/courses.css">
</head>
<body>
	<div class="footer-push row">
		<header class="row">
			<%- include('base/menu', {active: 1});%>
		</header>
		<main class="row container">
			<section class="courses row">
				<h2 class="title">Курси</h2>
				<form id="sort-options" action="#" method="GET">
					<label>
						Сортувати за: 
						<select name="order">
							<option value="likes" selected>Рейтингом</option>
							<option value="name">Іменем</option>
						</select>
					</label>
					<span class="separator">|</span>
					<label>
						З початку:
						<select name="sort-date">
							<option value="new" selected>Нові</option>
							<option value="old">Старі</option>
						</select>
					</label>
				</form>
				<div class="courses-container row">
					<% for (var i = 0; i < courses.length; i++) { %>
						<article class="course col-4">
							<img src="img/courses/<%= courses[i].imageName %>" alt="<%= courses[i].name %>">
							<p class="description">
								<strong><%= courses[i].name %></strong>
								<%= courses[i].description %>
							</p>
							<a href="#" class="reference">Дивитись більше...</a>
							<a href="#" class="like"><div></div><%= courses[i].likes %></a>
						</article>
					<% } %>
				</div>
			</section>
			<section class="pagination-big desktop">
				Сторінка:
				<ul>
					<li><a href="#">1</a></li>,
					<li><a href="#">2</a></li>,
					<li><a href="#">3</a></li>...<li><a href="#">10</a></li>
				</ul>
			</section>
			<section class="pagination-small mobile">
				<a href="#">Попередня</a>|<a href="#">Наступна</a>
			</section>
		</main>
	</div>
	<%- include('base/footer'); %>
</body>
</html>