<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
    <link rel="stylesheet" typDe="text/css" href="styles/css/courses.css">
</head>
<body>
<div class="footer-push row">
    <header class="row">
        <%- include('base/menu', {active: 1}); %>
    </header>
    <main class="row container">
        <section class="courses row">
            <h2 class="title">Курси</h2>
            <!-- SORT OPTIONS -->
            <form id="sort-options" action="" method="GET">
                <label>
                    Сортувати за:
                    <select name="order" onchange="this.form.submit()">
                        <% sortOptions.sortFields.forEach(function(option) { %>
                        <option value="<%= option.field %>"
                                <% if (option.field === sortOptions.field) { %>
                                selected
                                <% } %>
                        >
                            <%= option.name %>
                        </option>
                        <% }); %>
                    </select>
                </label>
                <input type="checkbox" name="dir" value="asc" onchange="this.form.submit()" id="sort-dir" hidden
                        <% if (sortOptions.order === "asc") { %>
                       checked
                        <% } %>
                >
                <label class="sort-ico" for="sort-dir"></label>
                <span class="separator">|</span>
                <label>
                    З початку:
                    <select name="sort-date" onchange="this.form.submit()">
                        <% sortOptions.dateOrders.forEach(function(option) { %>
                        <option value="<%= option.value %>"
                                <% if (option.value === sortOptions.dateOrder) { %>
                                selected
                                <% } %>
                        >
                            <%= option.name %>
                        </option>
                        <% }); %>
                    </select>
                </label>
            </form>
            <!-- ************ -->
            <!-- COURSES -->
            <div class="courses-container row">
                <% courses.forEach(function(course) { %>
                <article class="course col-4">
                    <img src="img/courses/<%= course.imageName %>" alt="<%= course.name %>">
                    <p class="description">
                        <strong><%= course.name %></strong>
                        <%= course.description %>
                    </p>
                    <a href="#" class="reference">Дивитись більше...</a>
                    <a href="#" class="like">
                        <div></div><%= course.likes %></a>
                </article>
                <% }); %>
            </div>
            <!-- ******* -->
        </section>
        <!-- PAGINATION -->
        <section class="pagination-big desktop">
            Сторінка:
            <%- paginationTemplate.pagination %>
        </section>
        <section class="pagination-small mobile">
            <%- paginationTemplate.paginationSmall %>
        </section>
        <!-- ********** -->
    </main>
</div>
<%- include('base/footer'); %>
</body>
</html>