<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include('base/head'); %>
    <link rel="stylesheet" typDe="text/css" href="/styles/css/editor.css">
</head>
<body>
<div class="footer-push row">
    <header class="row main-header">
        <%- include('base/menu', {active: 2}); %>
    </header>
    <main class="row container">
        <section class="create-course">
            <h2 class="title">Створити курс:</h2>
            <form class="form" name="course" action="" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                <fieldset class="fieldset">
                    <legend>Основна інформація:</legend>
                    <label>Назва: <input type="text" class="input" name="name" size="32" required></label>
                    <label>Опис: <textarea class="input textarea" name="description" rows="6" cols="32" required></textarea></label>
                </fieldset>
                <fieldset class="fieldset">
                    <legend>Прикладені файли:</legend>
                    <label>Зображення: <input type="file" name="image" accept="image/*,image/jpeg" required></label>
                </fieldset>
                <input type="submit" class="btn-primary" value="Створити">
            </form>
        </section>
        <section class="edit-courses">
            <h2 class="title">Редагувати курси:</h2>
            <% courses.forEach(function(course) { %>
            <form class="form edit-form col-8 col-s-12" name="course" action="editor/edit" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                <input type="hidden" name="id" value="<%= course.id %>">
                <input type="hidden" name="imagename" value="<%= course.imageName %>">
                <fieldset class="fieldset">
                    <legend>Основна інформація:</legend>
                    <label>Назва: <input type="text" class="input" name="name" size="32" value="<%= course.name %>" required></label>
                    <label>Опис:
                        <textarea class="input textarea" name="description" rows="6" cols="32" required><%= course.description %></textarea>
                    </label>
                </fieldset>
                <fieldset class="fieldset">
                    <legend>Прикладені файли:</legend>
                    <img src="/img/courses/<%= course.imageName %>" alt="<%= course.name %>">
                    <label>Змінити зображення: <input type="file" name="image" accept="image/*,image/jpeg"></label>
                </fieldset>
                <input type="submit" name="delete" class="btn-danger" value="Видалити">
                <input type="submit" name="update" class="btn-success" value="Змінити">
            </form>
            <% }); %>
        </section>
    </main>
</div>
<%- include('base/footer'); %>
</body>
</html>